*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.navbar{
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: yellow;
}